1.文件威胁检测详情列表部分展示字段以及顺序为：攻击时间、源ip、源端口、目的ip、目的端口（这里是否展示为攻击者与被攻击者的形式更好）、病毒类型、病毒名称、攻击平台、危害程度、存储路径、引擎ip、操作
2.对于第一条建议中“存储路径”解释：此字段应填写file+子文件，格式示例：/home/vds/backdoor.apk//class1/test.c（示例中“//”为分隔符，//之前部分为file内容，//之后为子文件内容）这里可能需要UI自己增加一个/
3.对于操作字段位置展示中有两个可以点击的按钮，在现在的界面如果点击过其中一个按钮现在并没有发现按钮部分有明显变化，这里点击应该有明显的颜色变化吧，以作提示用
4.在每一条信息后添加一个具有详情信息展示的下拉框，下拉框中展示的具体信息为：url、file、子文件、病毒信息、解释说明（解释说明字段先预留不做填写，以后会慢慢积累一些常见病毒软件造成的危害后说明再做填写），下拉框展示内容为按行展示
5.病毒类型部分：后门（Backdoor），木马（Trojan），风险工具（Risktool），间谍软件（Spyware），感染型病毒（Virus），蠕虫（Worm），黑客工具（Hacktool），漏洞利用（Hacktool），其他恶意软件（Malware）
6.列表展示时存储路径可以安现在子文件字段这种显示方法，其他字段的展示最好能够全部显示内容（过长字段除外），默认展示界面（列表详情部分）最好不要出现滑动条
7.意见：用户在打开列表中详情部分、或者在浏览列表中的非第一页时、或无数据刷新时，是否无需刷新列表部分页面，总是定时刷新会有闪屏现象，用户体验度不是很好
8.柱图位置里山下翻页箭头