   
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        基础信息
                    </li>
                    <li class="active">添加策略组</li>
                </ul><!-- .breadcrumb -->
    </div>
           <div class="col-sm-12">
                            <div class="row">
                                            <div class="col-xs-12">
                                                <!-- PAGE CONTENT BEGINS -->

                                                <form id="plcygroup_form" style="position:relative;top:20px;" class="form-horizontal" role="form">
                                        
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称 </label>

                                                        <div class="col-sm-9">
                                                            <input type="text" name="plcygroupname"  placeholder="策略组名称" class="col-xs-10 col-sm-5" required />
                                                        </div>
                                                    </div>

                                                    <div class="space-4"></div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 机房 </label>

                                                        <div class="col-sm-4">
                                                            <select name="room" class="form-control" required placeholder="机房">
                                                                <option value="">&nbsp;</option>
                                                                <volist name="room_data" id="room_data_vo">
                                                                <option value="{$room_data_vo['room_id']}">{$room_data_vo['room_name']}</option>
                                                                </volist>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="space-4"></div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 只读 </label>

                                                        <div class="col-sm-9">
                                                            <div class="radio">
                                                                <label>
                                                                    <input name="read_only" type="radio" class="ace" checked="checked"  value="1" required />
                                                                    <span class="lbl"> 是 </span>
                                                                </label>
                                                            </div>

                                                            <div class="radio">
                                                                <label>
                                                                    <input name="read_only" type="radio" class="ace" value="0" required />
                                                                    <span class="lbl"> 否 </span>
                                                                </label>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="space-4"></div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-tags"> 备注 </label>

                                                        <div class="col-sm-9">
                                                            <input type="text" name="comment" class="col-xs-10 col-sm-5" placeholder="备注" />
                                                        </div>
                                                    </div>

                                                    <div class="clearfix form-actions">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button id="plcygroup_button" class="btn btn-info" type="submit">
                                                                <i class="icon-ok bigger-110"></i>
                                                                提交
                                                            </button>
                                                            &nbsp; &nbsp; &nbsp;
                                                            <button class="btn" type="reset">
                                                                <i class="icon-undo bigger-110"></i>
                                                                取消
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->      
                        </div>
                    </div>
                </div>