<div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                报表管理
            </li>
            <li class="active">报表分析</li>
        </ul>
        <!-- .breadcrumb -->

    </div>
   
            <div id="home" class="tab-pane in active">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <!--<div class="formArea marT10">
                                <form method="get" action="__URL__/suser">
                                    
                                    <div class=" floatLeft marL10">
                                        <label class="">IP/域名：</label>
                                        <input type="text" name="nature" class="w100 nature">
                                        <label class="">时间：</label>
                                        <select name="unitnature" class="unitnature">
                                            <option value="">年报</option>
                                            <option value="">月报</option>
                                         </select>
                                        <input type="text" name="nature" class="w100 nature">
                                        <label class="">类型：</label>
                                        <select name="unitnature" class="unitnature">
                                            <option value="">攻击统计</option>
                                            <option value="">访问统计</option>
                                         </select>
                                        <label class="">类型：</label>
                                        <select name="unitnature" class="unitnature">
                                            <option value="">攻击基本统计</option>
                                            <option value="">攻击趋势统计</option>
                                            <option value="">攻击时间统计</option>
                                            <option value="">攻击类型统计</option>
                                            <option value="">攻击级别统计</option>
                                            <option value="">攻击URL统计</option>
                                            <option value="">攻击来源IP统计</option>
                                            <option value="">攻击目标IP统计</option>
                                            <option value="">攻击浏览器统计</option>
                                            <option value="">攻击地理位置统计</option>
                                         </select>
                                         <select name="unitnature" class="unitnature" style="display:none;">
                                            <option value="">访问基本统计</option>
                                            <option value="">访问趋势统计</option>
                                            <option value="">访问时间统计</option>
                                            <option value="">访问方法统计</option>
                                            <option value="">访问方式统计</option>
                                            <option value="">访问URL统计</option>
                                            <option value="">访问来源IP统计</option>
                                            <option value="">访问目标IP统计</option>
                                            <option value="">访问地理位置统计</option>
                                            <option value="">访问浏览器统计</option>
                                            <option value="">访问客户端OS统计</option>
                                            <option value="">访问插件统计</option>
                                            <option value="">访问关键字统计</option>
                                         </select>
                                        <label class="">TOPN：</label><input type="text" name="unitname" class="w100 unitname">
                                        

                                    </div>






                                    <button class="btn btn-sm btn-primary marL10"><i class="fa fa-search"></i>查询</button>

                                </form>
                            </div>-->
                            <button class="btn btn-app btn-purple btn-sm" title="导出报表" style="position: fixed; width:60px; height:60px; line-height:6px; font-size:12px;z-index:99999; top:100px; right:0px;">
                            <i class="icon-cloud-upload" style="font-size:18px;"></i>
                            导出报表
                            </button>
                            <div class="table-responsive">
                               

                                <div style="width: 49%;float: left">
                                    <div id="container01"
                                         style="width:100%;height:250px; margin-left:0px;"></div>
                                </div>

                                <div style="width: 49%;float: left">
                                    <div id="container02"
                                         style="width:100%;height:250px;margin-left:0px;"></div>
                                </div>
                                <div style="float: left;width: 100%"><div id="container_line"
                                                                          style="width:100%;height:250px;margin-left:0px;"></div></div>
                                <div class="HomeRig" style="width: 100%">

                                   <!-- <div style="height: 200px;overflow-y: hidden">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>攻击者IP</th>
                                                <th>攻击者国家</th>
                                                <th>攻击者归属地</th>
                                                <th>目标IP</th>
                                                <th>目标国家</th>
                                                <th>目标归属地</th>
                                                <th>平台信息</th>
                                                <th>事件类型</th>
                                                <th>事件名称</th>
                                                <th>样本名</th>
                                                <th>危害程度</th>
                                                <th>时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="danger">
                                                <td>1</td>
                                                <td>61.148.194.162</td>
                                                <td>中国</td>
                                                <td>北京市</td>
                                                <td>61.148.194.162</td>
                                                <td>中国</td>
                                                <td>北京市</td>
                                                <td>-</td>
                                                <td>SQL Inject</td>
                                                <td>SQL注入</td>
                                                <td>详情</td>
                                                <td>高</td>
                                                <td>2016-12-16 13:02::05</td>
                                            </tr>
                                            <tr class="warning">
                                                <td>2</td>
                                                <td>61.148.194.162</td>
                                                <td>中国</td>
                                                <td>北京市</td>
                                                <td>61.148.194.162</td>
                                                <td>中国</td>
                                                <td>北京市</td>
                                                <td>-</td>
                                                <td>XSS</td>
                                                <td>xss注入</td>
                                                <td>详情</td>
                                                <td>中</td>
                                                <td>2016-12-16 13:02::05</td>
                                            </tr>
                                            <tr class="success">
                                                <td>3</td>
                                                <td>61.148.194.162</td>
                                                <td>中国</td>
                                                <td>北京市</td>
                                                <td>61.148.194.162</td>
                                                <td>中国</td>
                                                <td>北京市</td>
                                                <td>-</td>
                                                <td>Info Leak</td>
                                                <td>信息泄露</td>
                                                <td>详情</td>
                                                <td>低</td>
                                                <td>2016-12-16 13:02::05</td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>

        <!-- /row -->
        <div class="dataTables_paginate paging_bootstrap">
            <ul class="pagination">
                {$show}
            </ul>
        </div>
    </div>
</div><!-- /.main-content -->
<script type="text/javascript">
    $(function () {
        $('#container01').highcharts({
			colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'
            ],
            chart: {
                backgroundColor: '#fefefe',
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 70,
                    beta: 0
                },
            },
            title: {
                text: '总攻击数比例饼状图'
            },
            credits:{
                enabled:false // 禁用版权信息
            },
            tooltip: {
                pointFormat: '攻击占比: <b>{point.percentage:.1f}%</b><br>'+'{series.name}: <b>{point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 25,
                    dataLabels: {
                        enabled: true,
                        //format: '{point.name}'
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    },
                    // showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '攻击数',
                data: {$attack_count}
            }]
        });
    });
    $(function () {
        $('#container02').highcharts({
			colors: ['#c63012', '#ea7f0c', '#cbf621', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'
            ],
            chart: {
                backgroundColor: '#fefefe',
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 70,
                    beta: 0
                },
            },
            credits:{
                enabled:false // 禁用版权信息
            },
            title: {
                text: '总攻击级别比例饼状图'
            },
            tooltip: {
                pointFormat: '攻击占比: <b>{point.percentage:.1f}%</b><br>'+'{series.name}: <b>{point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 25,
                    dataLabels: {
                        enabled: true,
                        //format: '{point.name}'
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    },
                    // showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '攻击数',
                data: {$hazard_count}
            }]
        });
    });
     $(function () {
            var time_count = {$time_count};
            var time = time_count.time;
            var count = time_count.time_count;
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            // Create the chart
            Highcharts.stockChart('container_line', {
                chart: {
        
                },
                credits:{
                    enabled:false // 禁用版权信息
                },
                yAxis:{
                    opposite:false
                },
                rangeSelector: {
                    enabled: false,
                    selected: 1
                },
                navigator: {
                    enabled: false
                },
                scrollbar: {
                    enabled: false
                },
                title: {
                    text: '攻击趋势图'
                },

                exporting: {
                    enabled: false
                },

                series: [{
                    name: 'Random data',
                    data: (function(time,count){
                        var data = [];
                        for (var i = 0; i <= time.length - 1; i++) {
                            data.push([
                                time[i]*1000,
                                count[i]
                            ]);
                        };
                        return data;
                    }(time,count))
                }]
            });

        });

</script>