<div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                Waf管理
            </li>
            <li class="active"> 网络状态</li>
        </ul>
        <!-- .breadcrumb -->


    </div>
    <div class="tabbable marL10">
        <ul class="nav nav-tabs" id="myTab">
            <li>
                <a data-toggle="" href="__URL__/webstate">
                    网络带宽
                </a>
            </li>

            <li>
                <a data-toggle="" href="__URL__/webstate2">
                    访问监控
                </a>
            </li>

            <li class="active">
                <a data-toggle="tab" href="#home">
                    客户端信息
                </a>
            </li>
            <li>
                <a data-toggle="" href="__URL__/webstate4">
                    攻击监控
                </a>
            </li>

        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane in active">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="formArea marT10">
                                <form name="searchform">

                                    <div class=" floatLeft marL10">
                                        <div class=" floatLeft marL10">
                                            <label class="w70">选择时间：</label><input type="text" name="unitname" class="w200 unitname">
                                        </div>

                                    </div>



                                    <button onclick="checkaction(0)" class="btn btn-sm btn-primary marL10"><i class="fa fa-search"></i>查询</button>

                                </form>
                            </div>


                            <div>
                                <div class="HomeRig">

                                    <div style="height: 200px;overflow-y: hidden">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <th colspan="4" style="position:relative;">访客浏览器</th>
                                            <tr>
                                                <td>浏览器</td>
                                                <td>访客数量</td>
                                            </tr>
                                            <tr>
                                                <td>IE9</td>
                                                <td>3000</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="container" style="width:49%;height:240px;float: left"></div>
                                <div class="HomeRig">

                                    <div style="height: 200px;overflow-y: hidden">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <th colspan="4" style="position:relative;">访客操作系统</th>
                                            <tr>
                                                <td>操作系统</td>
                                                <td>访客数量</td>
                                            </tr>
                                            <tr>
                                                <td>Windows 8</td>
                                                <td>1000</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="container2" style="width:49%;height:240px;float: left"></div>
                                <div class="HomeRig">

                                    <div style="height: 200px;overflow-y: hidden">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <th colspan="4" style="position:relative;">访客浏览器家族</th>
                                            <tr>
                                                <td>浏览器</td>
                                                <td>访客数量</td>
                                            </tr>
                                            <tr>
                                                <td>IE</td>
                                                <td>3000</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="container3" style="width:49%;height:240px;float: left"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="clear: both"></div>
        </div>
    </div>
</div><!-- /.main-content -->

<script type="text/javascript">
    $('.negroup').attr('value',getParam("negroup"));
    $('.ip').attr('value',getParam("ip"));
    $('.source').attr('value',getParam("source"));
    $('.date-range-picker').attr('value',URLdecode(getParam("date-range-picker")));

    function URLdecode(sStr){
       return sStr.replace(/\+/g,' ').replace(/\%2F/g,'\/').replace(/\%20/g,''); 
    }

    function getParam(paramName)
    {
        paramValue = "";
        isFound = false;
        if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=")>1)
        {
            arrSource = this.location.search.substring(1,this.location.search.length).split("&");
            i = 0;
            while (i < arrSource.length && !isFound)
            {
                if (arrSource[i].indexOf("=") > 0)
                {
                    if (arrSource[i].split("=")[0].toLowerCase()==paramName.toLowerCase())
                    {
                        paramValue = arrSource[i].split("=")[1];
                        isFound = true;
                    }
                }
                i++;
            }
        }
        return paramValue;
    }


</script>
<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            title: {
                text: '浏览器使用情况对比',
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ""
            },
            legend: {
            },
            series: [{
                name: 'ie9',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }]
        });
    });
    $(function () {
        $('#container2').highcharts({
            title: {
                text: '操作系统使用情况对比',
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ""
            },
            legend: {
            },
            series: [{
                name: 'Windows 7',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }]
        });
    });
    $(function () {
        $('#container3').highcharts({
            title: {
                text: '浏览器家族使用情况对比',
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ""
            },
            legend: {
            },
            series: [{
                name: 'ie',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }]
        });
    });

    jQuery(function ($) {
        $('input[name=date-range-picker]').daterangepicker({
                    locale : {
                        applyLabel: '提交',
                        cancelLabel: '取消',
                        fromLabel: '开始时间',
                        toLabel: '结束时间',
                        weekLabel: 'W',
                        customRangeLabel: 'Custom Range',
                        daysOfWeek: ['日', '一', '二', '三', '四', '五','六'],
                        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                        firstDay: moment.localeData()._week.dow
                    },
                    language: 'cn',}
        ).prev().on(ace.click_event, function () {
                    $(this).next().focus();
                });

    })
</script>
